section  img {
	max-width: 100%;
	width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.check{
  color:white;
  border:3px solid white;
  border-radius: 20px;
}



/* 탑버튼 */
#toTop { z-index:1030; width: 100px; border: 2px solid #f7f7f7; background: #f7f7f7; text-align: center; position: fixed; bottom: 10px; right: 10px; cursor: pointer; display: none; color: #333; opacity: 0.6; filter: alpha(opacity=60); -webkit-border-radius: 30px; -moz-border-radius: 30px; -o-border-radius: 30px; border-radius: 20px; -webkit-transition: all .25s linear; -moz-transition: all .25s linear; -o-transition: all .25s linear; transition: all .25s linear; padding: 5px; } #toTop:hover { background: #b3b3b3; border: 2px solid #b3b3b3; }
